
      * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: #f5fdf5;
      color: #080808;
    }
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      margin: 0;
      position: relative;
      width: 100%;
      background-color: #1f4e69;
      color: white; 
     
    }
    .header-content {
      display: flex;
      justify-content:center;
      align-items: center;
      width: 100%;
    }
    .name {
      font-size: 30px;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 20px;
    }
    .profile-pic {
      width: 80px;
      height:auto;
      border-radius: 10%;
      margin-right: 1rem;
      margin-top: 1.5rem;
      padding: 1px;
    }
    nav {
      width: 100%;
      background-color: #000;
      text-align: center;
      padding: 10px 0;
      margin: 0;
      position: relative;
  
    }
  
    .menu ul {
      display: flex;
      list-style: none;
      padding: 0%;
      margin: 0%;
      justify-content: space-between;
    }
    .menu li {
      display: inline-block;
      margin: 0 10px;
      color: white;
     
    }
    .menu a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }

    .menu li a.active, .menu li a:hover {
      color: #f4d03f;
    }
    .menu-toggle {
      display: none;
      background:#1f4e69;
      color: white;
      border: none;
      padding: 10px;
      font-size: 30px;
      cursor: pointer;
      
    }
    main {
      padding: 1rem;
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      margin-bottom: 2rem;
    }
    .card {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      padding: 1rem;
    }
    .card h2 {
      background-color: #1f4e69;
      color: white;
      padding: 0.5rem;
      border-radius: 4px;
      text-align: center;
    }
    .card img {
      width: 100%;
      margin-top: 1rem;
    }
    .caption {
      text-align: center;
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }
    .certificate h2 {
      background-color: #1f4e69;
      color: white;
      padding: 0.75rem;
      text-align: center;
      border-radius: 6px;
    }
    .filters {
      text-align: center;
      margin: 1rem 0;
    }
    .filters button {
      background-color: black;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      margin: 0.25rem;
      border-radius: 4px;
      cursor: pointer;
    }
    #courses-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
      gap: 20px; 
      padding: 20px;
    }
    .course-card {
      padding: 15px;
      border: 1px solid #ccc;
      margin: 15px;
      background-color:  #eee;
      text-align: center;
      border-radius: 6px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      width: 100%; 
    }

    .completed {
        background-color: lightblue;
        font-weight: bold;
        border: 2px solid #27ae60;
    }

    #credit-count {
      background-color: black;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      margin: 0.25rem;
      border-radius: 4px;
      cursor: pointer;
    }
    footer {
      background-color: #1f4e69;
      color: white;
      text-align: center;
      padding: 1rem;
    }
    .flag {
      width: 40px;
      margin-top: 0.5rem;
    }
    #course-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 1.5rem;
    }
  

    #course-list li {  
      background-color: lightblue;
      text-align: center; 
      font-weight: bold;
      border: none;
      border-radius: 4px;
      padding: .3rem;
    }

    #total-credits {  
      background-color: lightblue;
      text-align: center; 
      font-weight: bold;
      border: none;
      border-radius: 4px;
      padding: .3rem;
    }
   



  